# Backup folder for Package Reference Convert tool in Visual Studio 2017
MigrationBackup/

# Ionide (cross platform F# VS Code tools) working folder
.ionide/

/.idea/
./cmake-build-debug/
**/*.docx
**/*.pdf
